@model PageViewModel<GetaTagsPage>

@{ Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml"; }

<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>
<div class="row">
    <ul>
        <li>@Model.CurrentPage.Tags1</li>
        <li>@Model.CurrentPage.Tags2</li>
        <li>@Model.CurrentPage.Tags3</li>
    </ul>
</div>